<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Closet: Find the Sold-Outs</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
    <script src="lib/vertx-eventbus.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="closet-front">
<div class="header">
    <div class="header-left">
        <input class="search-box" type="text" ng-model="query">
    </div>
</div>

<div class="main-content">
    <div class="img-wrapper">
        <div class="empty">
            <div style="padding:180px 0px 0px 95px">
                <button class="add-item" style="padding: 6px 30px;">Add</button>
            </div>
        </div>
        <div class="desc"></div>
    </div>
    <div ng-repeat="item in items | filter:query">
        <div class="img-wrapper">
            <a target="_self" href="/#/update/{{item.id}}">
                <img class="image" ng-src="{{item.source}}" alt="{{item.source}}">
            </a>
            <div class="desc">{{item.description}}</div>
        </div>
    </div>
</div>
</body>
</html>